html{
	height: 100%;
	padding: 0;
	margin: 0;
}
h1{
	line-height: 64px;
	margin: 0;
	padding: 0 0 0 64px;
}
header{
	background-color: white;
	height: 64px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
header h2{
	margin: -18px 0 0 64px;
	font-size: 12px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	background-position-y: 2px;
	padding-left: 14px;
}
header form{
	float: right;
}
body{
	background-color: #00FF00;
	height: 100%;
	margin: 0;
	padding: 0;
}
footer{
	height: 0;
	font-size: 32px;
	color: #000000;
	background-color: #FFFFFF;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 95%;
	left: 2.5%;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
	text-align: center;
}
footer img{
	height: 48px;
	width: 48px;
	margin-top: 8px;
	border-radius: 24px;
}
form#settings{
	position: absolute;
	right: 0;
	top: 0;
}
fieldset{
	float: right;
	border: none;
	margin-top: 10px;
}
fieldset#style{
	border-color: #FFFFFF;
}
footer p{
	display: inline-block;
	height: 64px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}