html{
	height: 100%;
	padding: 0;
	margin: 0;
}
h1{
	font-family: 'Bangers', cursive;
	color: #6441a5;
	line-height: 64px;
	margin: 0;
	padding: 0 0 0 64px;
	background-image: url('../Twitch-tv-logo.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
}
header{
	background-color: white;
	height: 64px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
header h2{
	margin: -18px 0 0 64px;
	font-size: 12px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	background-position-y: 2px;
	padding-left: 14px;
}
header form{
	float: right;
}
body{
	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: #00FF00;
	height: 100%;
	margin: 0;
	padding: 0;
}
footer{
	height: 0;
	font-size: 32px;
	color: #000000;
	background-color: #FFFFFF;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 95%;
	left: 2.5%;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
	text-align: center;
}
footer img{
	height: 48px;
	width: 48px;
	margin-top: 8px;
	border-radius: 24px;
}
form#settings{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 0 0 230px;
	padding: 0 4 0 0;
}
fieldset{
	float: right;
	border: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
fieldset#style{
	width: 600px;
	margin: 0;
	padding: 0;
}
/* fieldset#notif{
	margin: 0 10px 0 0;
	padding: 0;
	width: 140px;
} */
footer p{
	display: inline-block;
	height: 64px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
input{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
}
label{
	font-size: 12px;
}
input[type="button"]{
	background-color: #6441a5;
	color: white;
	font-family: 'Bangers', cursive;
	border: none;
	border-radius: 4px;
	font-size: 18px;
}
input[type="submit"]{
	background-color: #6441a5;
	color: white;
	font-family: 'Bangers', cursive;
	border: none;
	border-radius: 4px;
	font-size: 18px;
}
input[type="color"]{
	height: 18px;
	width: 54px;
	margin: 0;
	padding: 0;
}
input[type="number"]{
	width: 40px;
}